# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.genkit/*

# android
theoflix-android/build/
theoflix-android/app/build/
theoflix-android/.gradle/
theoflix-android/local.properties
android-live/build/
android-live/app/build/
android-live/.gradle/
android-live/local.properties
*.log
.env*

# firebase
firebase-debug.log
firestore-debug.log
# secrets and subprojects
serviceAccountKey.json
oiko-saas-core/
