rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Regras 100% Liberais para Fase de Testes
    match /{document=**} {
      allow read, write: if true;
    }
  }
}